.container {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.typeContainer {
    width: 640px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.typeContainer img {
    width: 16px;
    height: 16px;
    filter: invert(0.5);
    margin-right: -5px;
}

.radioBox {
    width: 100%;
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; 
}

.questionContainer {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addChoiceButton {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: rgb(150, 150, 150);
    cursor: pointer;
}

.addChoiceButton:hover {
    color: rgb(100, 100, 100);
}

.addChoiceButton:hover>.addChoiceIcon {
    filter: invert(0.6);
}

.addChoiceIcon {
    width: 20px;
    height: 20px;
    filter: invert(0.8);
}

.answerInputBox {
    font-size: 1rem;
    width: 100%;
    height: 42px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    padding: 10px;
    resize: vertical;
}

.answerInputBox:hover,
.answerInputBox:focus {
    border: 2px solid rgb(0, 100, 250);
    padding: 9px;
}

.trueFalseContainer {
    width: 320px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.gradingContainer {
    width: 100%;
    height: auto;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.gradingRadioBox {
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px; 
}

.gradingTextBottom {
    font-size: 0.9rem;
    color: rgb(150, 150, 150);
    margin-top: 5px;
}

.valueBox {
    font-size: 1rem;
    width: 100%;
    height: 42px;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(230, 230, 230);
    padding-left: 10px;
    padding-right: 10px;
}