.questionContainer {
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    margin-top: 50px;
    position: relative;
}

.questionContainer:last-child {
    margin-bottom: 0px;
}

.questionContainerTop {
    display: grid;
    grid-template-columns: 1fr fit-content(100%) fit-content(100%);
    border-bottom: 1px solid rgb(220, 220, 220);
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.questionContainerBottom {
    padding: 40px;
}

.questionNumber {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(0, 100, 250);
}

.questionInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
}

.questionInfoContainer {
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
}

.questionInfoHeader {
    font-size: 1.2rem;
    height: 26px;
    line-height: 26px;
    font-weight: 300;
    color: rgb(150, 150, 150);
}

.questionInfoHeader:nth-child(4) {
    margin-bottom: 15px;
}

.questionInfoValue {
    font-size: 1.2rem;
    height: 26px;
    line-height: 26px;
    margin-left: 15px;
}

.level0,
.level1,
.level2,
.level3,
.level4 {
    width: fit-content;
    height: 26px;
    line-height: 26px;
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 13px;
    padding-left: 15px;
    padding-right: 15px;
}

.level0 {
    background-color: rgb(100, 250, 250);
    color: rgb(0, 100, 250);
}

.level1 {
    background-color: rgb(150, 250, 150);
    color: rgb(0, 150, 0);
}

.level2 {
    background-color: rgb(200, 200, 200);
    color: rgb(50, 50, 50);
}

.level3 {
    background-color: rgb(250, 150, 50);
    color: rgb(255, 255, 255);
}

.level4 {
    background-color: rgb(250, 170, 170);
    color: rgb(250, 0, 0);
}

.choiceContainer {
    display: grid;
    gap: 10px;
}

.choiceElements {
    height: fit-content;
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 10px;
    border-radius: 5px;
    align-items:start;
}

.choiceNumberCorrect {
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    background-color: rgb(0, 220, 220);
    color: rgb(255, 255, 255);
    text-align: center;
}

.choiceNumberIncorrect {
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    background-color: rgb(220, 220, 220);
    color: rgb(100, 100, 100);
    text-align: center;
}

.choiceValueCorrect {
    height: fit-content;
    line-height: 24px;
    border-radius: 10px;
    color: rgb(0, 220, 220);
}

.choiceValueIncorrect {
    height: fit-content;
    line-height: 24px;
    border-radius: 10px;
}

.questionButton {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.questionButton:hover {
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
}

.questionButton img {
    width: 40px;
    height: 40px;
    padding: 8px;
    filter: brightness(0) invert(0.5);
}




@media (max-width: 1200px) {
    .questionContainerTop {
        display: grid;
        grid-template-columns: 1fr fit-content(100%) fit-content(100%);
        border-bottom: 1px solid rgb(220, 220, 220);
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: min(40px, 5vw);
        padding-right: min(40px, 5vw);
    }

    .questionContainerBottom {
        padding: min(40px, 5vw);
    }

    .questionNumber {
        font-size: 1.5rem;
    }

    .questionInfo {
        grid-template-columns: 1fr 1fr 1.5fr;
        margin-bottom: min(40px, 5vw);
    }

    .questionInfoContainer {
        grid-template-columns: none;
        grid-template-rows: (2, fit-content(100%));
    }

    .questionInfoHeader {
        font-size: 1rem;
    }

    .questionInfoValue {
        font-size: 1rem;
        margin-left: 0px;
        margin-top: 10px;
    }

    .questionType {
        font-size: 1rem;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        padding-left: 10px;
    }

    .questionPoints {
        font-size: 1rem;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
    }

    .level0,
    .level1,
    .level2,
    .level3,
    .level4 {
        font-size: 0.75rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .editButton {
        font-size: 0.75rem;
    }

    .deleteButton {
        font-size: 0.75rem;
        margin-left: 5px;
    }

    .moreContainer {
        right: min(40px, 5vw);
    }
}