.addQuestionButton {
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
    margin-bottom: 40px;
    cursor: pointer;
}

.questionContainer {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 40px;
    margin-bottom: 40px;
}

.questionHeader {
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%) 1fr fit-content(100%) fit-content(100%);
}

.questionNumber {
    font-weight: 500;
    font-size: 2rem;
    font-family: "NanumSquare";
    height: 40px;
    line-height: 40px;
    color: rgb(0, 100, 250);
}

.questionType {
    font-weight: 300;
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
    margin-left: 25px;
    padding-left: 25px;
    color: rgb(150, 150, 150);
    border-left: 1px solid rgb(220, 220, 220);
}

.questionPoints {
    font-weight: 300;
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    color: rgb(150, 150, 150);
}

.questionText {
    gap: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    word-break: keep-all;
    text-align: justify;
    white-space: pre-line;
}

.correctChoice {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    word-break: keep-all;
    text-align: justify;
}

.wrongChoice {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    word-break: keep-all;
    text-align: justify;
}

.questionImage {
    display: block;
    margin: 0px auto;
    padding: 40px;
}

.editButton {
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 0.9rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
    cursor: pointer;
}

.deleteButton {
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 0.9rem;
    text-align: center;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
    cursor: pointer;
}



@media (max-width: 1200px) {
    .questionContainer {
        padding: min(40px, 5vw);
    }

    .questionNumber {
        font-weight: 500;
        font-size: 1.2rem;
        font-family: "NanumSquare";
        height: 30px;
        line-height: 30px;
        color: rgb(0, 100, 250);
    }
    
    .questionType {
        font-size: 1rem;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        padding-left: 10px;
    }
    
    .questionPoints {
        font-size: 1rem;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
    }

    .editButton {
        width: 40px;
        height: 30px;
        line-height: 30px;
        font-size: 0.7rem;
    }
    
    .deleteButton {
        width: 40px;
        height: 30px;
        line-height: 30px;
        font-size: 0.7rem;
    }
}