.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    z-index: 15;
}

.sideBarWide {
    width: 300px;
    background-color: rgb(248, 248, 248);
    border-right: 1px solid rgb(220, 220, 220);
    position: relative;
    transition: 0.5s;
    z-index: 10;
}

.sideBarNarrow {
    width: 60px;
    background-color: rgb(248, 248, 248);
    border-right: 1px solid rgb(220, 220, 220);
    position: relative;
    transition: 0.5s;
    z-index: 10;
}

.sideBarWideTop {
    width: 300px;
    max-width: 300px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.sideBarNarrowTop {
    width: 300px;
    max-width: 60px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.sideBarLogoIcon {
    width: 60px;
    height: 50px;
    padding: 10px;
    object-fit: contain;
}

.sideBarLogoShow {
    font-family: "Poppins";
    font-size: 1.3rem;
    font-weight: 500;
    width: 200px;
    max-width: 200px;
    height: 30px;
    line-height: 30px;
    margin-left: -10px;
    opacity: 1;
    overflow: hidden;
    letter-spacing: -0.5px;
    transition: 0.5s;
}

.sideBarLogoHide {
    font-family: "Poppins";
    font-size: 1.3rem;
    font-weight: 500;
    width: 200px;
    max-width: 0px;
    height: 30px;
    line-height: 30px;
    margin-left: -10px;
    opacity: 0;
    overflow: hidden;
    letter-spacing: -0.5px;
    transition: 0.5s;
}

.sideBarBottom {
    border-top: 1px solid rgb(220, 220, 220);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tabSelected {
    width: 100%;
    max-width: 280px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
}

.tabSelected>.tabIcon {
    filter: invert(1);
}

.tabNotSelected {
    width: 100%;
    max-width: 280px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tabNotSelected:hover {
    background-color: rgb(230, 230, 230);
}

.tabIcon {
    width: 40px;
    height: 40px;
    padding: 10px;
    filter: invert(0.7);
}

.tabTextWide {
    width: 240px;
    max-width: 240px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.tabTextNarrow {
    width: 240px;
    max-width: 240px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.wideNarrowButton {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 50px;
    right: -15px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 2;
}

.narrowIcon {
    width: 28px;
    height: 28px;
    padding: 6px;
    filter: invert(0.5);
    transform: rotate(180deg);
    transition: 0.5s;
}

.wideIcon {
    width: 28px;
    height: 28px;
    padding: 6px;
    filter: invert(0.5);
    transform: rotate(360deg);
    transition: 0.5s;
}

.contentWide {
    width: calc(100vw - 300px);
    height: 100%;
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    transition: 0.5s;
}

.contentNarrow {
    width: calc(100vw - 60px);
    height: 100%;
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    transition: 0.5s;
}

.contentWide::-webkit-scrollbar,
.contentNarrow::-webkit-scrollbar {
    width: 16px;
    background-color: transparent
}

.contentWide::-webkit-scrollbar-thumb,
.contentNarrow::-webkit-scrollbar-thumb {
    background-color: rgb(230, 230, 230);
}

.headerWide {
    font-size: 1.1rem;
    font-weight: 700;
    width: calc(100vw - 300px);
    height: 51px;
    line-height: 51px;
    padding-left: 30px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(220, 220, 220);
    z-index: 10;
    transition: 0.5s;
}

.headerNarrow {
    font-size: 1.1rem;
    font-weight: 700;
    width: calc(100vw - 60px);
    height: 51px;
    line-height: 51px;
    padding-left: 30px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(220, 220, 220);
    z-index: 10;
    transition: 0.5s;
}