.container {
    width: 70vw;
    margin: 0px auto;
    height: calc(100vh - 140px);
    display: grid;
    grid-template-columns: 250px 1fr;
}

.containerLeft {
    width: 100%;
    height: 100%;
    padding: 40px;
    border-right: 1px solid rgb(220, 220, 220);
}

.containerRight {
    width: 100%;
    height: 100%;
    padding: 40px;
}

.tabSelected {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    color: rgb(0, 100, 250);
}

.tabNotSelected {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: rgb(150, 150, 150);
    cursor: pointer;
}