.answerSheetModeContainer {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0px auto;
    margin-top: -70px;
    position: relative;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}

.answerSheetModeContainerTop {
    width: 100vw;
    display: grid;
    grid-template-columns: fit-content(100%) 1fr fit-content(100%) fit-content(100%);
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid rgb(220, 220, 220);
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
}

.testconLogo {
    height: 40px;
    margin-right: 20px;
}

.answerSheetModeContainerTopInfo {
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
}

.testName {
    font-size: 1.2rem;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.applicantName {
    font-size: 1.2rem;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid rgb(220, 220, 220);
}

.autoGradingButton {
    width: fit-content;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220)
}

.scores {
    width: fit-content;
    height: 40px;
    line-height: 26px;
    border: 2px solid rgb(0, 220, 220);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(0, 220, 220);
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
}

.scoresHeader {
    font-size: 1rem;
}

.scoresValue {
    font-size: 1.2rem;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid rgb(0, 220, 220)
}

.questionAnswer {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 30px;
    margin-top: 40px;
    margin-left: 15vw;
    margin-right: 15vw;
}

.questionAnswer:nth-child(1) {
    margin-top: 110px;
}

.questionAnswerHeader {
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%) 1fr fit-content(100%) fit-content(100%);
    padding-bottom: 20px;
}

.questionAnswerSubHeader {
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
    color: rgb(0, 100, 250);
}

.questionNumber {
    font-family: "NanumSquare";
    font-size: 2.5rem;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    color: rgb(0, 100, 250);
}

.questionType {
    width: fit-content;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 25px;
    padding-left: 25px;
    color: rgb(150, 150, 150);
    border-left: 1px solid rgb(220, 220, 220);
}

.questionPoints {
    width: fit-content;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 20px;
    color: rgb(150, 150, 150);
}

.questionContent {
    font-weight: 500;
    font-size: 1.2rem;
    word-break: keep-all;
    text-align: justify;
    white-space: pre-line;
}

.correctChoice {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    word-break: keep-all;
    text-align: justify;
}

.wrongChoice {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 12px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    word-break: keep-all;
    text-align: justify;
}

.choice {
    font-weight: 500;
    font-size: 1.2rem;
    word-break: keep-all;
    text-align: justify;
}

.gradedCorrect {
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(100, 200, 50);
}

.gradedSomeCorrect {
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 200, 50);
}

.gradedIncorrect {
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
}

.gradedBefore {
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(180, 180, 180);
}

.grading {
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 12px;
    margin-top: 12px;
    display: grid;
    grid-template-columns: 1fr fit-content(100%) fit-content(100%);
}

.gradingResults {
    font-weight: 500;
    font-size: 1.2rem;
}

.gradingPoints {
    font-weight: 500;
    font-size: 1.2rem;
}

.manualGradingGuide {
    font-weight: 500;
    color: rgb(150, 150, 150);
    margin-top: 0px;
}

.manualGradingContainer {
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    gap: 5px;
}

.manualGradingWrong {
    font-size: 1rem;
    width: fit-content;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 2px solid rgb(250, 50, 50);
    color: rgb(250, 50, 50);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.manualGradingWrong:disabled {
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
}

.manualGradingSomeOn {
    font-size: 1rem;
    width: fit-content;
    height: 40px;
    line-height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 2px solid rgb(250, 200, 50);
    color: rgb(255, 255, 255);
    background-color: rgb(250, 200, 50);
    cursor: pointer;
}

.manualGradingSomeOff {
    font-size: 1rem;
    width: fit-content;
    height: 40px;
    line-height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 2px solid rgb(250, 200, 50);
    color: rgb(250, 200, 50);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.manualGradingCorrect {
    font-size: 1rem;
    width: fit-content;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 2px solid rgb(100, 200, 50);
    color: rgb(100, 200, 50);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.manualGradingCorrect:disabled {
    color: rgb(255, 255, 255);
    background-color: rgb(100, 200, 50);
}



@media (max-width: 1200px) {
    .answerSheetModeContainerBottom {
        width: 100vw;
        display: block;
        margin: 0px auto;
    }

    .questionAnswer {
        padding-left: min(5vw, 30px);;
        padding-right: min(5vw, 30px);;
        margin-left: min(5vw, 30px);
        margin-right: min(5vw, 30px);
    }

    .questionNumber {
        font-size: 1.5rem;
    }

    .questionType {
        font-size: 1rem;
        margin-left: 15px;
        padding-left: 15px;
    }

    .questionPoints {
        font-size: 1rem;
        margin-left: 10px;
    }
}



@media (max-width: 600px) {
    .answerSheetModeContainerTop {
        padding-left: min(5vw, 30px);
        padding-right: min(5vw, 30px);
    }

    .testconLogo {
        margin-right: 5px;
    }

    .answerSheetModeContainerTopInfo {
        grid-template-columns: none;
    }

    .testName {
        font-size: 1rem;
        height: 20px;
        line-height: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .applicantName {
        font-size: 1rem;
        height: 20px;
        line-height: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-left: 0px;
        border-left: none;
    }

    .autoGradingButton {
        font-size: 0.8rem;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
    }

    .scoresHeader {
        display: none;
    }
    
    .scoresValue {
        font-size: 1rem;
        margin-left: 0px;
        padding-left: 0px;
        border-left: none;
    }
    
    .questionAnswer {
        padding: min(5vw, 30px);
    }
}