.applicantContainer {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
}

.applicantName {
    font-size: 1.5rem;
    height: 40px;
    line-height: 40px;
}

.applicantContainer2 {
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
}

.scores {
    font-size: 1.5rem;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    text-align: right;
    color: rgb(0, 220, 220);
}

.checkAnswerSheetButton {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
    cursor: pointer;
}



@media (max-width: 600px) {
    .applicantContainer {
        grid-template-columns: none;
        grid-template-rows: repeat(2, fit-content(100%));
    }
    
    .applicantContainer2 {
        justify-self: right;
    }
}