.answerSheetContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.answerSheetContainerLeft {
    width: 300px;
    height: calc(100vh - 70px);
    border-right: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    position: fixed;
    top: 70px;
    left: 300px
}

.applicantContainerSelected {
    width: 100%;
    height: 50px;
    font-weight: 700;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin-bottom: 10px;
}

.applicantContainerNotSelected {
    width: 100%;
    height: 50px;
    font-weight: 700;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.answerSheetContainerRight {
    width: calc(100vw - 600px);
    height: calc(100vh - 70px);
    background-color: rgb(255, 255, 255);
    padding: 40px;
    position: fixed;
    top: 70px;
    left: 600px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.answerSheetContainerRight::-webkit-scrollbar {
    display: none;
}

.applicantInfoContainer {
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
}

.applicantName {
    font-size: 2rem;
    font-weight: 700;
}

.scoreContainer {
    display: grid;
    grid-template-columns: repeat(4, fit-content(100%));
    gap: 3px;
    align-items: end;
}

.applicantScore {
    font-size: 2rem;
    font-weight: 800;
}

.dash {
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 3px;
}

.totalScore {
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 3px;
}

.unit {
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 3px;
}

.questionContainer {
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    margin-bottom: 40px;
}

.questionContainer1 {
    border-bottom: 1px solid rgb(220, 220, 220);
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.questionNumberCorrect {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(100, 220, 100);
}

.questionNumberBefore {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(200, 200, 250);
}

.questionNumberIncorrect {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(250, 50, 50);
}

.questionNumberSomeCorrect {
    font-size: 2rem;
    font-weight: 500;
    color: (250, 200, 100);
}

.questionContainer2 {
    height: fit-content;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.questionContainer3 {
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.choiceAnswerContainer {
    display: grid;
    gap: 10px;
}

.choiceAnswerElements {
    height: fit-content;
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 10px;
    border-radius: 5px;
    align-items:start;
}

.choiceNumberSelected {
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    background-color: rgb(0, 220, 220);
    color: rgb(255, 255, 255);
    text-align: center;
}

.choiceNumberNotSelected {
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    background-color: rgb(220, 220, 220);
    color: rgb(100, 100, 100);
    text-align: center;
}

.choiceValueSelected {
    height: fit-content;
    line-height: 24px;
    border-radius: 10px;
    color: rgb(0, 220, 220);
}

.choiceValueNotSelected {
    height: fit-content;
    line-height: 24px;
    border-radius: 10px;
}

.questionContainer4 {
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.resultCorrect {
    width: fit-content;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgb(100, 220, 100);
    color: rgb(255, 255, 255);
}

.resultBefore {
    width: fit-content;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
    color: rgb(255, 255, 255);
}

.resultIncorrect {
    width: fit-content;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgb(250, 50, 50);
    color: rgb(255, 255, 255);
}

.resultSomeCorrect {
    width: fit-content;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgb(250, 200, 100);
    color: rgb(255, 255, 255);
}

.pointsCorrect {
    font-size: 1.5rem;
    height: 30px;
    line-height: 30px;
    color: rgb(100, 220, 100);
}

.pointsIncorrect {
    font-size: 1.5rem;
    height: 30px;
    line-height: 30px;
    color: rgb(250, 50, 50);
}

.pointsSomeCorrect {
    font-size: 1.5rem;
    height: 30px;
    line-height: 30px;
    color: rgb(250, 200, 100);
}



@media (max-width: 1200px)  {
    .answerSheetContainer {
        display: block;
    }

    .answerSheetContainerLeft {
        display: none;
    }
    
    .answerSheetContainerRight {
        width: 100vw;
        height: calc(100vh - 220px);
        padding-left: min(40px, 5vw);
        padding-right: min(40px, 5vw);
        padding-top: 0px;
        top: 140px;
        left: 0px;
    }

    .applicantInfoContainer {
        margin-bottom: 20px;
    }

    .applicantName {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .scoreContainer {
        gap: 1px;
    }
    
    .applicantScore {
        font-size: 1.5rem;
    }
    
    .dash {
        font-size: 1rem;
        padding-bottom: 3px;
    }
    
    .totalScore {
        font-size: 1rem;
        padding-bottom: 3px;
    }
    
    .unit {
        font-size: 1rem;
        padding-bottom: 3px;
    }

    .questionContainer1 {
        padding-left: min(40px, 5vw);
        padding-right: min(40px, 5vw);
    }

    .questionContainer2 {
        padding-left: min(40px, 5vw);
        padding-right: min(40px, 5vw);
    }

    .questionContainer3 {
        padding-left: min(40px, 5vw);
        padding-right: min(40px, 5vw);
    }

    .questionContainer4 {
        padding-left: min(40px, 5vw);
        padding-right: min(40px, 5vw);
    }

    .applicantListButtonNotClicked {
        width: 100vw;
        height: 60px;
        background-color: rgb(255, 255, 255);
        z-index: 3;
        top: 70px;
        left: 0px;
        display: grid;
        align-items: center;
        justify-items: center;
        text-align: center;
    }

    .applicantListName {
        width: calc(100vw - 2 * min(40px, 5vw));
        height: 40px;
        line-height: 38px;
        border-radius: 5px;
        border: 1px solid rgb(220, 220, 220);
        z-index: 4;
    }

    .applicantListButtonClicked {
        width: calc(100vw - 2 * min(40px, 5vw));
        height: fit-content;
        border-radius: 5px;
        border: 1px solid rgb(220, 220, 220);
        background-color: rgb(255, 255, 255);
        text-align: center;
        position: fixed;
        top: 80px;
        left: min(40px, 5vw);
        z-index: 5;
    }

    .applicantListContainer {
        width: calc(100vw - 2 * min(40px, 5vw) - 2px);
        height: 40px;
        line-height: 38px;
        z-index: 6;
    }
}