.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    width: 80vw;
    max-width: 1100px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.guideWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.guideContainer {
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(245, 245, 245);
}

.guideContainer img {
    width: 200px;
    height: 200px;
    filter: invert(67%) sepia(0%) saturate(37%) hue-rotate(142deg) brightness(97%) contrast(84%);
}

.guideLabel {
    font-size: 1.1rem;
    font-weight: 700;
}

.guideGraphics {
    display: flex;
    justify-content: center;
    gap: 40px;
}