.container {
    width: 100%;
    padding: 40px;
}

.optionContainer {
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    margin-bottom: 40px;
}

.optionContainerTop {
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.optionContainerBottom {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settingsContainer {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.settingsHeader {
    height: 40px;
    line-height: 40px;
    color: rgb(150, 150, 150);
}

.settingsInputBox {
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(250, 250, 250);
}

.dateInputBox {
    font-size: 1rem;
    width: calc(100% - 100px);
    height: 40px;
    line-height: 40px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(250, 250, 250);
}

.settingsConfirmButton {
    font-size: 0.9rem;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    cursor: pointer;
    align-self: flex-end;
}

.deleteButton {
    font-size: 0.9rem;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
    cursor: pointer;
}

.dateContainer {
    display: grid;
    grid-template-columns: 100px 1fr 100px 300px;
}

.dateSettings {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: grid;
    align-items: center;
    justify-content: center;
}

.backgroundContainer {
    width: 500px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-rows: repeat(3, fit-content(100%));
    text-align: justify;
    word-break: keep-all;
}

.toggleContainer {
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
}

.toggleHeader {
    height: 30px;
    line-height: 30px;
}

.toggleButtonOn {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    padding: 3px;
    background-color: rgb(0, 100, 250);
    cursor: pointer;
    transition: 0.5s;
}

.toggleButtonOff {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    padding: 3px;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
    transition: 0.5s;
}

.toggleLeft {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.toggleRight {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    transition: 0.5s;
}

.feedbackContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid rgb(220, 220, 220);
    padding-top: 20px;
}

.feedbackElements {
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
}

.feedbackHeader {
    height: 20px;
    line-height: 20px;
}

.feedbackChecked {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: rgb(0, 100, 250);
}

.checkIcon {
    width: 20px;
    height: 20px;
    padding: 4px;
    filter: invert();
}