.header {
    color: rgb(0, 100, 250);
    margin-top: 50px;
    margin-bottom: 10px;
}

.header:nth-child(1) {
    margin-top: 0px;
}

.settingsContainer {
    width: 100%;
    height: fit-content;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
}

.settingsHeader {
    color: rgb(150, 150, 150);
    height: 40px;
    line-height: 40px;
}

.testNameValue,
.applyCodeValue {
    font-size: 1.4rem;
    height: 40px;
    line-height: 40px;
}

.testNameEditing {
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    gap: 5px;
}

.testNameNotEditing,
.applyCode {
    display: grid;
    grid-template-columns: 1fr 100px;
}

.applyCode {
    display: grid;
    grid-template-columns: 1fr 100px;
}

.testDateValue {
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
}

.testDateEditing {
    display: grid;
    grid-template-columns: 220px 60px 60px;
    gap: 5px;
}

.testDateNotEditing {
    display: grid;
    grid-template-columns: 250px 100px;
}

.testInputBox {
    font-size: 1rem;
    border: none;
    background-color: rgb(240, 240, 240);
    padding-left: 10px;
    padding-right: 10px;
}

.editButton,
.applyCodeCopyButton {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
    cursor: pointer;
}

.editConfirmButton {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
    cursor: pointer;
}

.editCancelButton {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
    cursor: pointer;
}

.feedbackButtons {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 1px;
}

.feedbackEnabledButtonOn,
.feedbackEnabledButtonOff {
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.feedbackEnabledButtonOn {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
}

.feedbackEnabledButtonOff {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}


.feedbackDisabledButtonOn,
.feedbackDisabledButtonOff {
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.feedbackDisabledButtonOn {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
}

.feedbackDisabledButtonOff {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.testDeleteButton {
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
    cursor: pointer;
}

.deleteContainer {
    width: 100%;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}

.deleteContainerHighlighted {
    margin-top: 20px;
    color: rgb(250, 50, 50);
}

.deleteContainerInputBox {
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(240, 240, 240);
}

.deleteContainerButtons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    gap: 5px;
}

.deleteConfirmButton {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
    cursor: pointer;
}

.deleteConfirmButton:disabled {
    color: rgb(150, 150, 150);
    background-color: rgb(200, 200, 200);
    cursor: auto;
}

.deleteCancelButton {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}