.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    width: 80vw;
    max-width: 1100px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.subContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.codeBox {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(230, 230, 230);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.codeBoxValue {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 5px;
}

.codeBoxButton {
    font-size: 0.9rem;
    color: rgb(130, 130, 130);
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.codeBoxButton:hover {
    color: rgb(80, 80, 80);
}

.codeBoxButton:hover>.codeBoxButtonIcon {
    filter: invert(0.5);
}

.codeBoxButtonIcon {
    width: 16px;
    height: 16px;
    filter: invert(0.7);
}

.flexBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.toggle {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.checkBoxContainer {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.checkBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.deleteInfo {
    font-size: 0.9rem;
    background-color: rgb(250, 235, 235);
    border-radius: 5px;
    padding: 15px;
    padding-left: 35px;
    margin-top: 5px;
}

.deleteInfo>li {
    line-height: 22px;
    color: rgb(250, 100, 100);
}