.header {
    color: rgb(0, 100, 250);
    margin-top: 50px;
    margin-bottom: 10px;
}

.header:nth-child(1) {
    margin-top: 0px;
}

.settingsHeader {
    color: rgb(150, 150, 150);
    height: 40px;
    line-height: 40px;
}

.settingsContainer {
    width: 100%;
    height: fit-content;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}

.settingsContainerTop {
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
}

.settingsContainerBottom {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    gap: 10px
}

.settingsContainerValue {
    font-size: 1.2rem;
    height: 40px;
    line-height: 40px;
}

.settingsContainerInfo {
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
}

.inputBox {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    padding-left: 10px;
    padding-right: 10px;
}

.editButton,
.applyCodeCopyButton {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
    cursor: pointer;
}

.cancelButton {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
    cursor: pointer;
}

.feedbackButtons {
    width: 200px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(2, 100px);
}

.feedbackButtonOn {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
    cursor: pointer;
}

.feedbackButtonOff {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.deleteButton,
.deleteConfirmButton {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
    cursor: pointer;
}

.deleteConfirmButton:disabled {
    background-color: rgb(200, 200, 200);
}

.deleteCancelButton {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.deleteReminder {
    font-size: 1rem;
    margin-bottom: 20px;
}

.deleteContainer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(220, 220, 220);
}

.deleteContainerBottom {
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    gap: 10px
}




@media (max-width: 600px) {
    .settingsContainerValue {
        font-size: 1rem;
    }
}