.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
}

.header {
    color: rgb(0, 100, 250);
    margin-bottom: 10px;
}

.editContainer {
    width: 40vw;
    height: fit-content;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.editHeader {
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    color: rgb(0, 100, 250);
    margin-bottom: 20px;
    display: inline-block;
}

.editInputBox {
    width: calc(100% - 80px);
    height: 40px;
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 100, 250);
    background-color: rgb(240, 240, 240);
    display: inline-block;
}

.editFixedBox {
    width: calc(100% - 80px);
    height: 40px;
    line-height: 20px;
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 100, 250);
    background-color: rgb(240, 240, 240);
    display: inline-block;
}

.submitButton {
    width: 100px;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 220, 50);
    margin-top: 50px;
    display: inline-block;
    cursor: pointer;
}

.cancelButton {
    width: 100px;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(100, 100, 100);
    background-color: rgb(220, 220, 220);
    margin-top: 50px;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
}
