.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
}

.header {
    color: rgb(0, 100, 250);
    margin-bottom: 10px;
}

.applyCodeContainer {
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(200, 250, 250);
    margin-bottom: 50px;
}

.applyCode {
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 20px;
    margin-left: 20px;
    text-align: center;
    color: rgb(0, 100, 250);
}

.applyCodeCopyButton {
    width: 70px;
    font-size: 0.7rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(0, 100, 250);
    color: rgb(0, 100, 250);
    text-align: center;
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.applyCodeCopyButton:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
}

.applyCodeText {
    text-align: center;
    color: rgb(150, 150, 150);
}

.testDateContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-bottom: 50px;
}

.deleteButton {
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
    text-align: center;
    cursor: pointer;
}

.deleteContainer {
    width: 40vw;
    height: fit-content;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.deleteConfirmTextBox {
    width: 100%;
    line-height: 30px;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.deleteConfirmButton {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.deleteConfirmButton:disabled {
    color: rgb(100, 100, 100);
    background-color: rgb(150, 150, 150);
}

.deleteConfirmButton:enabled {
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
    cursor: pointer
}

.cancelButton {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(100, 100, 100);
    background-color: rgb(220, 220, 220);
    margin-left: 10px;
    cursor: pointer;
}