.homeContainer {
    width: 100vw;
    height: calc(100vh - 70px);
    background: linear-gradient(135deg, rgb(0, 100, 250) 20%, rgb(0, 220, 220) 90%);
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    grid-template-rows: 1fr fit-content(100%);
}

.homeContainerTop {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

.homeContainerBottom {
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    gap: 20px;
    justify-self: right;
}

.applyTestButton {
    font-size: 1.2rem;
    width: 300px;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    cursor: pointer;
}

.sampleTestButton {
    font-size: 1.2rem;
    width: 300px;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    text-align: center;
    color: rgb(0, 100, 250);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


@media (max-width: 1200px) {
    .homeContainer {
        padding-left: 40px;
        padding-right: 40px;
    }
}



@media (max-width: 600px) {
    .homeContainer {
        padding-left: min(40px, 5vw);
        padding-right: min(40px, 5vw);
    }

    .homeContainerTop {
        font-size: 2rem;
    }

    .applyTestButton {
        font-size: 1.2rem;
        width: calc(100vw - min(80px, 10vw));
    }

    .sampleTestButton {
        font-size: 1.2rem;
        width: calc(100vw - min(80px, 10vw));
    }
}