.text {
    font-size: 1.3rem;
    line-height: 70px;
    padding-left: 40px;
}

.notScrolled {
    width: 100vw;
    height: 70px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 2;
}

.scrolled {
    width: 100vw;
    height: 70px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 2;
}

.blank {
    height: 70px;
}