.dashboardContainer {
    width: 100vw;
    padding: 40px;
    padding-left: 15vw;
    padding-right: 15vw;
}

.testContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
}

.testElements {
    width: 100%;
    height: 200px;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 25px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr fit-content(100%);
}

.name {
    font-weight: 700;
}

.date {
    font-size: 1rem;
    height: 25px;
    line-height: 25px;
    text-align: right;
    color: rgb(150, 150, 150);
}

.time {
    font-size: 1rem;
    height: 25px;
    line-height: 25px;
    text-align: right;
    color: rgb(150, 150, 150);
}

.addButton {
    width: 150px;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
    margin-top: 40px;
    margin-bottom: 50px;
    display: inline-block;
    cursor: pointer;
}

.addTestHeader {
    font-size: 1.2rem;
    font-weight: 300;
    height: 30px;
    line-height: 30px;
    color: rgb(150, 150, 150);
    margin-top: 40px;
    margin-bottom: 10px;
}

.addTestHeader:nth-child(1) {
    margin-top: 0px;
}

.addTestValue {
    font-size: 1.5rem;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}

.addTestNameStartDateInputBox {
    width: 400px;
    height: 40px;
    line-height: 40px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
}

.addTestDurationInputBox {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
}

.confirmButton {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
    margin-top: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.cancelButton {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(200, 200, 200);
    margin-top: 30px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .dashboardContainer {
        width: 100vw;
        padding: 40px;
        padding-left: min(40px, 5vw);
        padding-right: min(40px, 5vw);
    }

    .testElements {
        padding-left: min(25px, 5vw);
        padding-right: min(25px, 5vw);
    }

    .addTestNameStartDateInputBox {
        width: 100%;
    }

    .addTestValue {
        font-size: 1.2rem;
    }
}


@media (max-width: 600px) {
    .testContainer {
        grid-template-columns: 1fr;
    }
}