.container {
    height: 50px;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 50px 80px 1fr 70px 80px 40px 40px 40px;
    gap: 25px;
    align-items: center;
}

.container:hover {
    background-color: rgb(245, 245, 245);
}

.applicantImage {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    filter: invert(0.7);
    justify-self: center;
}

.applicantCode {
    color: rgb(150, 150, 150);
    text-align: center;
}

.applicantName {
    font-size: 1.2rem;
    font-weight: 700;
}

.applicantScore {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.applicantPauseOnButton {
    font-size: 0.85rem;
    height: 24px;
    line-height: 24px;
    color: rgb(100, 100, 100);
    background-color: rgb(220, 220, 220);
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.applicantPauseOffButton {
    font-size: 0.85rem;
    height: 24px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 0, 0);
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.applicantIcon {
    width: 20px;
    height: 20px;
    filter: invert(0.8);
    cursor: pointer;
    justify-self: center;
}

.applicantIcon:hover {
    filter: invert(0.6);
}