.addApplicantButton {
    width: 150px;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
    cursor: pointer;
}

.addApplicantContainer {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    gap: 5px;
}

.addApplicantInputBox {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.addConfirmButton {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 220, 220);
    color: rgb(255, 255, 255);
}

.addCancelButton {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(250, 50, 50);
    color: rgb(255, 255, 255);
}

.applicantContainer {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    display: grid;
    grid-template-columns: fit-content(100%) 1fr repeat(3, fit-content(100%));
    gap: 5px;
}

.applicantContainer:nth-child(2) {
    margin-top: 40px;
}

.applicantName {
    font-size: 1.5rem;
    height: 40px;
    line-height: 40px;
}

.applicantCode {
    font-size: 1.5rem;
    font-weight: 100;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    color: rgb(0, 220, 220);
}

.sendEmailButton {
    width: 150px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
}

.copyURLButton {
    width: 150px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
}

.editButton {
    width: 60px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
}

.deleteButton {
    width: 60px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
}