.loginWrapper {
    width: 100vw;
    height: calc(100vh - 70px);
    display: grid;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    width: 400px;
    height: 400px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid rgb(220, 220, 220);
    display: grid;
    grid-template-rows: 100px 1fr 60px;
}

.loginHeader {
    font-family: "Poppins";
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -2px;
}

.loginGuide {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(150, 150, 150);
    word-break: keep-all;
}

.loginButton {
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgb(0, 220, 220) 20%, rgb(0, 100, 250) 90%);
    cursor: pointer;
}



@media (max-width: 600px) {
    .loginContainer {
        width: 100vw;
        height: calc(100vh - 70px);
        padding: min(5vw, 40px);
        padding-top: 20vh;
        padding-bottom: 20vh;
        border-radius: 0px;
        border: none;
        display: grid;
        grid-template-rows: 100px 1fr 60px;
    }
    
}