@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "-apple-system", "Pretendard";
    font-weight: 500;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-overflow-style: none;
    scrollbar-width: none;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

select:focus {
    outline: none;
}

select,
input,
details,
details summary {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: text;
}

details summary::-webkit-details-marker {
    display: none;
}



/* React Toastify CSS settings */

:root {
    --toastify-toast-width: fit-content;

    --toastify-color-info: rgb(0, 100, 250);
    --toastify-color-success: rgb(0, 220, 220);
    --toastify-color-warning: rgb(250, 50, 50);
    --toastify-color-error: rgb(250, 50, 50);
}

.Toastify__toast {
    margin: 0px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: none;
    z-index: 5;
}

.Toastify__toast-container {
    padding: 0px;
    z-index: 5;
}

@keyframes Toastify__slideInRight {
    from {
        transform: translate3d(120%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes Toastify__slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(120%, 0, 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.1s ease-out both;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeOut {
    animation: fadeOut 0.1s ease-in both;
}

@media (max-width: 1200px) {
    .Toastify__toast {
        font-size: 0.8rem;
        padding: 10px;
        border-radius: 0px;
        box-shadow: none;
    }
    
    .Toastify__toast-container {
        margin: 0px;
        padding: 0px;
        width: 100vw;
    }
}



/* TinyMCE CSS settings */

.tox-tinymce {
    border: 1px solid rgb(220, 220, 220) !important;
    border-radius: 5px !important;
}

.tox-edit-area__iframe {
    background-color: transparent !important;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
    box-shadow: none !important;
}

.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    border-bottom: 1px solid rgb(220, 220, 220);
}

.tox.tox-tinymce.tox-tinymce--disabled {
    border: 0px !important;
    pointer-events: none !important;
}

.tox .tox-tbtn__select-label {
    font-family: "Pretendard" !important;;
    font-weight: 600 !important;
}

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
    border-right: 1px solid rgb(220, 220, 220) !important;
}

.tox .tox-tbtn--bespoke {
    background-color: rgb(255, 255, 255) !important;
}

.tox .tox-collection__item-label {
    font-family: "Pretendard" !important;;
}