@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    src:
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* {
    font-family: 'Noto Sans KR';
    font-weight: 1000;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-overflow-style: none;
    scrollbar-width: none;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: 0.3s
}

*::-webkit-scrollbar {
    display: none;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}