.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loadingText {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 30px;
}

.mainText {
    font-size: 2rem;
    margin-top: 30px;
    color: rgb(150, 150, 150);
}

.subText {
    font-size: 1.2rem;
    margin-top: 10px;
    color: rgb(150, 150, 150);
}

.emptyImage {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
}

.emptyMainText {
    font-size: 2rem;
    margin-top: 30px;
}

.emptySubText {
    font-size: 1rem;
    margin-top: 10px;
}