.disallowMobileContainer {
    width: 100vw;
    height: 100vh;
    padding: 5vw;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    display: grid;
    align-content: center;
    justify-content: center;
    z-index: 30;
}

.disallowMobileContainerheader {
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: min(40px, 5vw);
    padding-right: min(40px, 5vw);
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    border-bottom: 1px solid rgb(220, 220, 220);
    align-items: center;
}

.disallowMobileContainerheaderLogo {
    height: 50px;
    padding: 2px;
    margin-left: -8px;
    cursor: pointer;
}

.disallowMobileContainerText1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    word-break: keep-all;
}

.disallowMobileContainerText2 {
    font-size: 1rem;
    text-align: center;
    word-break: keep-all;
    margin-top: 20px;
}

.disallowMobileContainerWidth {
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: rgb(150, 150, 150);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    justify-self: center;
    text-align: center;
}