.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: justify;
    word-break: keep-all;
}

.containerTop {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
}

.closeIcon {
    height: 30px;
    padding: 5px;
    filter: invert(0.7);
    cursor: pointer;
}

.containerGuide {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.exitContainerIcon {
    height: 20px;
}

.questionsStatusContainer {
    height: fit-content;
    max-height: 40vh;
    padding: 30px;
    border-top: 1px solid rgb(220, 220, 220);
}

.questionStatusHeaderSolved {
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    gap: 10px;
    align-items: center;
    color: rgb(0, 150, 0);
}

.questionStatusHeaderNotSolved {
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    gap: 10px;
    align-items: center;
    color: rgb(250, 50, 50);
}

.questionStatusContainerSolved {
    width: 440px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.questionStatusContainerNotSolved {
    width: 440px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.solvedQuestions {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    color: rgb(0, 150, 0);
    background-color: rgb(100, 250, 100);
    text-align: center;
    transition: 0.5s;
}

.solvedQuestions:hover {
    background-color: rgb(130, 255, 130);
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

.notSolvedQuestions {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    color: rgb(250, 0, 0);
    background-color: rgb(250, 170, 170);
    text-align: center;
    transition: 0.5s;
}

.notSolvedQuestions:hover {
    background-color: rgb(250, 200, 200);
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

.checkedQuestionContainer {
    border-top: 1px solid rgb(220, 220, 220);
    padding: 30px;
}

.checkedQuestionHeader {
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    gap: 10px;
    align-items: center;
    color: rgb(250, 150, 50);
    transition: 0.5s;
}

.checkedQuestionElementsContainer {
    width: 440px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
}

.checkedQuestionElements {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 150, 50);
    text-align: center;
}

.containerBottom {
    border-top: 1px solid rgb(220, 220, 220);
    padding: 30px;
    display: grid;
    justify-items: right;
}

.exitButton {
    font-size: 1rem;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
    text-align: center;
    cursor: pointer;
}



@media (max-width: 1200px) {
    .checkedQuestionContainer {
        display: none;
    }
}


@media (max-width: 600px) {
    .container {
        width: min(90vw, 500px);
    }

    .containerTop {
        font-size: 1.2rem;
        line-height: 25px;
        padding-left: min(5vw, 30px);
        padding-right: min(5vw, 30px);
    }

    .containerGuide {
        font-size: 0.85rem;
        padding-left: min(5vw, 30px);
        padding-right: min(5vw, 30px);
    }

    .closeIcon {
        height: 25px;
        padding: 5px;
    }

    .questionStatusContainerSolved {
        width: calc(90vw - 2 * min(5vw, 30px));
        grid-template-columns: repeat(100, fit-content(100%));
        gap: 0px;
        overflow: auto;
    }
    
    .questionStatusContainerNotSolved {
        width: calc(90vw - 2 * min(5vw, 30px));
        grid-template-columns: repeat(100, fit-content(100%));
        gap: 0px;
        overflow: auto;
    }

    .questionStatusContainerSolved::-webkit-scrollbar,
    .questionStatusContainerNotSolved::-webkit-scrollbar {
        width: 5px;
    }

    .questionStatusContainerSolved::-webkit-scrollbar-thumb,
    .questionStatusContainerNotSolved::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: rgb(220, 220, 220);
    }

    .solvedQuestions {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 5px;
    }
    
    .notSolvedQuestions {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 5px;
    }

    .questionsStatusContainer,
    .containerBottom {
        padding: min(5vw, 30px);
    }
}