.preTestModeContainer {
    width: 100vw;
    height: calc(100vh - 70px);
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.preTestModeContainerTop {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.preTestModeContainerTop2 {
    justify-self: right;
    margin-top: auto;
}

.preTestModeContainerBottom {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgb(220, 220, 220);
}

.header {
    font-size: 1.2rem;
    font-weight: 200;
    color: rgb(150, 150, 150);
}

.testName {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.userName {
    font-size: 1.5rem;
    font-weight: 1000;
    margin-bottom: 30px;
}

.info {
    font-size: 1.2rem;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 100px fit-content(100%);
}

.buttonDisabled {
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    color: rgb(150, 150, 150);
    background-color: rgb(200, 200, 200);
}

.buttonEnabled {
    font-size: 1.2rem;
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    cursor: pointer;
}

.tabMenu {
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    gap: 30px;
    margin-bottom: 20px;
}

.tabSelected {
    font-size: 1.2rem;
    color: rgb(0, 100, 250);
}

.tabNotSelected {
    font-size: 1.2rem;
    color: rgb(150, 150, 150);
    cursor: pointer;
}

.tabContent {
    font-weight: 300;
    line-height: 25px;
    color: rgb(150, 150, 150);
    margin-left: 20px;
    word-break: keep-all;
}



@media (max-width: 1200px) {
    .preTestModeContainerTop {
        padding-left: min(40px, 5vw);
        padding-right: min(40px, 5vw);
    }
    
    .preTestModeContainerBottom {
        padding-left: min(40px, 5vw);
        padding-right: min(40px, 5vw);
    }
}



@media (max-width: 600px) {
    .preTestModeContainer {
        grid-template-rows: 2fr fit-content(100%);
    }
    
    .testName {
        font-size: 2rem;
    }
        
    .info {
        margin-bottom: 5px;
        grid-template-columns: 80px fit-content(100%);
    }

    .buttonDisabled {
        width: calc(100vw - min(80px, 10vw));
    }

    .buttonEnabled {
        width: calc(100vw - min(80px, 10vw));
    }

    .tabContent {
        font-size: 0.8rem;
        line-height: 15px;
    }
}