.background {
    width: 100vw;
    height: calc(100vh - 70px);
    background: linear-gradient(120deg, rgb(60, 70, 90) 10%, rgb(20, 30, 50) 90%);
    display: grid;
    align-items: center;
    justify-items: center;
}

.backgroundPattern {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    opacity: 0.15;
    filter: invert();
    object-fit: cover;
}

.wrapper {
    width: 1150px;
    height: 70vh;
    min-height: 780px;
    display: grid;
    grid-template-rows: fit-content(100%) 1fr;
    gap: 15px;
}

.header {
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    align-items: end;
}

.headerLeft {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.headerRight {
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    gap: 10px;
}

.headerRight1 {
    color: rgb(150, 150, 150);
}

.headerRight2 {
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.container {
    border-radius: 10px;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 250px 1fr;
    z-index: 1;
}

.containerLeft {
    background-color: rgb(245, 245, 245);
    border-radius: 10px 0px 0px 10px;
    padding: 40px;
    display: grid;
    grid-template-rows: repeat(4, fit-content(100%));
    gap: 20px;
}

.containerRight {
    background-color: rgb(255, 255, 255);
    border-radius: 0px 10px 10px 0px;
    padding: 40px;
    display: grid;
    grid-template-rows: 1fr fit-content(100%);
}

.button {
    border: none;
    background-color: transparent;
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    gap: 15px;
    align-items: center;
}

.buttonNumberSelected {
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    transform: scale(1.2);
}

.buttonNumberNotSelected {
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.buttonChecked {
    width: 100%;
    height: 100%;
    padding: 25%;
    filter: invert();
}

.buttonTextSelected {
    font-size: 1.5rem;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    text-align: left;
    color: rgb(0, 100, 250);
}

.buttonTextNotSelected {
    font-size: 1.2rem;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    text-align: left;
    color: rgb(150, 150, 150);
    cursor: pointer;
}

.testInfoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.testInfoElements {
    border-left: 2px solid rgb(220, 220, 220);
    padding-left: 20px;
    margin-bottom: 40px;
}

.testInfoHeader {
    font-weight: 300;
    color: rgb(150, 150, 150);
    margin-bottom: 10px;
}

.testInfoValue {
    font-size: 1.2rem;
    font-weight: 700;
}

.questionTypeContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.questionTypeElements {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
}

.intro {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 30px;
    word-break: keep-all;
}

.highlight {
    font-weight: 700;
    color: rgb(0, 100, 250);
}

.tabContainerBottom {
    display: grid;
    justify-items: right;
}

.nextButtonAbled {
    font-size: 1.2rem;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    gap: 5px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nextButtonDisabled {
    font-size: 1.2rem;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: rgb(100, 100, 100);
    background-color: rgb(150, 150, 150);
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    gap: 5px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nextIconAbled {
    height: 15px;
    filter: invert()
}

.nextIconDisabled {
    height: 15px;
    filter: invert(0.4)
}

.guideContainer {
    height: fit-content;
    max-height: 300px;
    overflow: auto;
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-rows: repeat(4, fit-content(100%));
    gap: 15px;
    text-align: justify;
    word-break: keep-all;
}

.guideContainer li {
    margin-left: 20px;
}

.agreementWrapper {
    display: grid;
    grid-template-rows: repeat(3, fit-content(100%));
}

.agreementContainer {
    padding: 20px;
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: rgb(245, 245, 245);
}

.agreementContainer:first-child {
    border-top: 1px solid rgb(220, 220, 220);
}

.agreementHeader {
    font-weight: 700;
    line-height: 20px;
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    gap: 15px;
    cursor: pointer;
}

.agreementIconOpened {
    height: 20px;
    padding: 2px;
    filter: invert(0.3);
    transform: rotate(270deg);
    transition: 0.3s;
}

.agreementIconClosed {
    height: 20px;
    padding: 2px;
    filter: invert(0.3);
    transform: rotate(90deg);
    transition: 0.3s;
}

.agreementTextShow {
    font-size: 0.95rem;
    font-weight: 400;
    padding-top: 10px;
    text-align: justify;
    word-break: keep-all;
}

.agreementTextHide {
    display: none;
}

.agreementTextShow table {
    border-spacing: 0px;
    border-top: 1px solid rgb(200, 200, 200);
    margin-top: 10px;
}

.agreementTextShow table thead tr th {
    padding: 6px;
    border-right: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: rgb(230, 230, 230);
    text-align: left;
}

.agreementTextShow table tbody tr td {
    padding: 6px;
    border-right: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    text-align: center;
}

.checkBoxContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    align-items: center;
    cursor: pointer;
}

.checkBoxContainer:hover>.checkBoxNotChecked {
    border: 1px solid rgba(0, 100, 250, 0.3);;
    background-color: rgba(0, 100, 250, 0.3);
}

.checkBoxText {
    font-weight: 700;
}

.checkBoxChecked {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid rgb(0, 100, 250);
    background-color: rgb(0, 100, 250);
}

.checkBoxNotChecked {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(248, 248, 248);
}

.checkBoxIcon {
    width: 22px;
    padding: 4px;
    filter: invert();
}

.tab4ContainerButtonsZone {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: right;
}

.demoButton {
    font-size: 1.2rem;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 220, 220);
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.startButton {
    font-size: 1.2rem;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    border-radius: 5px;
    border: none;
    text-align: center;
}

.startButton:disabled {
    background-color: rgba(0, 100, 250, 0.6);
    cursor: not-allowed;
}

.startButton:enabled {
	box-shadow: 0 0 0 0 rgba(0, 100, 250, 1);
	animation: pulse 3s infinite;
    cursor: pointer;
}

.startButton:enabled:hover {
    background-color: rgba(0, 100, 250, 0.7)
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 100, 250, 0.7);
	}
	
	70% {
		box-shadow: 0 0 0 20px rgba(0, 100, 250, 0);
	}

    100% {
        box-shadow: 0 0 0 20px rgba(0, 100, 250, 0);
    }
}

.alertBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: grid;
    align-items: center;
    justify-content: center;
}

.alertContainer {
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-rows: repeat(2, fit-content(100%));
    gap: 20px;
    justify-items: center;
    word-break: keep-all;
}

.alertHeader {
    font-size: 1.2rem;
    font-weight: 700;
}

.alertButton {
    width: 80px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    text-align: center;
    cursor: pointer;
}



@media (max-width: 1200px) {
    .wrapper {
        width: 100vw;
        height: calc(100vh - 70px);
        min-height: auto;
        grid-template-rows: 1fr;
        gap: 0px;
    }
    
    .header {
        display: none;
    }

    .container {
        border-radius: 0px;
        border: none;
        grid-template-columns: none;
        grid-template-rows: 90px 1fr;
    }

    .containerLeft {
        height: 90px;
        border-radius: 0px;
        padding-left: min(5vw, 40px);
        padding-right: min(5vw, 40px);
        padding-top: 20px;
        padding-bottom: 15px;
        grid-template-rows: none;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .containerRight {
        border-radius: 0px;
        padding-left: min(5vw, 40px);
        padding-right: min(5vw, 40px);
        padding-top: 30px;
        padding-bottom: 100px;
        gap: 10px;
    }

    .button {
        grid-template-columns: none;
        grid-template-rows: fit-content(100%) fit-content(100%);
        gap: 10px;
        justify-items: center;
    }

    .buttonNumberSelected {
        font-size: 1rem;
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 12px;
    }
    
    .buttonNumberNotSelected {
        font-size: 1rem;
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 12px;
    }

    .buttonTextSelected {
        font-size: 1rem;
        height: 20px;
        line-height: 20px;
    }
    
    .buttonTextNotSelected {
        font-size: 0.85rem;
        height: 20px;
        line-height: 20px;
    }

    .tabContainerTestName {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .intro {
        font-size: 1.3rem;
        line-height: 25px;
    }

    .testInfoContainer {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .testInfoElements {
        padding-left: 10px;
        margin-bottom: 15px;
    }

    .testInfoHeader {
        margin-bottom: 5px;
    }

    .testInfoValue {
        font-size: 1rem;
        font-weight: 700;
    }

    .guideContainer {
        margin-top: 20px;
    }

    .agreementWrapper {
        height: calc(85vh - 420px);
        overflow: auto;
    }

    .agreementWrapper::-webkit-scrollbar {
        width: 10px;
    }

    .agreementWrapper::-webkit-scrollbar-thumb {
        width: 10px;
        background-color: rgb(220, 220, 220);
    }

    .agreementWrapper::-webkit-scrollbar-track {
        background-color: rgb(245, 245, 245);
    }

    .tab4ContainerButtonsZone {
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .demoButton,
    .startButton {
        width: calc(100vw - 2 * min(40px, 5vw));
    }
}