.testModeContainer {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: 0px auto;
    margin-top: -70px;
    position: relative;
    z-index: 10;
    background-color: rgb(255, 255, 255);
}

.testModeContainerTop {
    width: 100vw;
    height: 60px;
    display: grid;
    grid-template-columns: fit-content(100%) 1fr fit-content(100%);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid rgb(220, 220, 220);
    background-color: rgb(245, 245, 245);
    position: fixed;
    top: 0px;
    left: 0px;
}

.testconLogo {
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 10px;
    margin-right: 5px;
}

.testModeCotainerTopInfo {
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    padding-top: 5px;
    padding-bottom: 5px;
}

.testName {
    font-size: 1.2rem;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

.applicantName {
    font-size: 1.2rem;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid rgb(220, 220, 220);
    overflow: hidden;
}

.timer {
    width: fit-content;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid rgb(250, 50, 50);
    display: grid;
    grid-template-columns: 20px fit-content(100%) fit-content(100%);
    gap: 10px;
}

.timerHeader {
    font-weight: 500;
    height: 36px;
    line-height: 36px;
    color: rgb(250, 50, 50);
}

.timerIcon {
    height: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.timerValue {
    font-size: 1.2rem;
    height: 36px;
    line-height: 36px;
    color: rgb(250, 50, 50);
    text-align: right;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.navigation {
    width: 100px;
    height: calc(100vh - 120px);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid rgb(220, 220, 220);
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1;
}

.navigation::-webkit-scrollbar {
    width: 5px;
}

.navigation::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgb(150, 150, 150, 0.3);
    background-clip: padding-box;
}

.navigation::-webkit-scrollbar-track {
    background-color: transparent;
}

.navigationNumber {
    display: grid;
    grid-template-columns: fit-content(100%) 120px;
}

.navigationInfo {
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    gap: 5px;
}

.navigationInfoType,
.navigationInfoPoints {
    font-weight: 300;
    color: rgb(150, 150, 150);
}

.navigationNumberSelected,
.navigationNumberNotSelected {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.navigationNumberSelected {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
}

.navigationNumberNotSelected {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.navigationNumberSolved {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 100, 250);
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 1;
}

.navigationNumberChecked {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(250, 150, 50);
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 2;
}

.questionAnswerHeader {
    width: calc(100vw - 100px);
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%) 1fr fit-content(100%) fit-content(100%) fit-content(100%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid rgb(220, 220, 220);
    position: fixed;
    top: 60px;
    left: 100px;
    z-index: 2;
}

.questionNumber {
    font-size: 2rem;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    color: rgb(0, 100, 250);
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.questionType {
    width: fit-content;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(150, 150, 150);
    margin-left: 20px;
    display: grid;
    grid-template-columns: 40px fit-content(100%);
}

.questionTypeIcon {
    height: 40px;
    padding-top: 7px;
    padding-bottom: 9px;
    padding-left: 8px;
    padding-right: 8px;
    filter: invert(0.6);
}

.questionPoints {
    width: fit-content;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(150, 150, 150);
    margin-left: 20px;
}

.checkQuestionButtonNotChecked {
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    cursor: pointer;
}

.checkQuestionButtonChecked {
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 150, 50);
    text-align: center;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    cursor: pointer;
}

.checkQuestionButtonIconNotChecked {
    height: 40px;
    padding: 7px;
    filter: invert(0.6);
}

.checkQuestionButtonIconChecked {
    height: 40px;
    padding: 7px;
}

.prevNextButtonOn {
    font-size: 1rem;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    cursor: pointer;
}

.prevNextButtonOff {
    font-size: 1rem;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(200, 200, 200);
}

.questionAnswerContentRL {
    width: calc(100vw - 100px);
    height: calc(100vh - 180px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    top: 120px;
    left: 100px;
}

.questionAnswerContentUD {
    width: calc(100vw - 100px);
    height: calc(100vh - 180px);
    display: grid;
    grid-template-rows: fit-content(100%) 1fr;
    position: fixed;
    top: 120px;
    left: 100px;
    overflow: auto;
}

.questionContentRL {
    height: calc(100vh - 180px);
    padding: 30px;
    padding-top: 10px;
    border-right: 1px solid rgb(220, 220, 220);
    overflow: auto;
}

.questionContentUD {
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.answerContentRL {
    height: calc(100vh - 180px);
    padding: 30px;
    overflow: auto;
}

.answerContentUD {
    padding: 30px;
    padding-top: 0px;
}

.questionContentRL::-webkit-scrollbar,
.answerContentRL::-webkit-scrollbar,
.questionAnswerContentUD::-webkit-scrollbar {
    width: 15px;
}

.questionContentRL::-webkit-scrollbar-thumb,
.answerContentRL::-webkit-scrollbar-thumb,
.questionAnswerContentUD::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: rgb(150, 150, 150, 0.3);
}

.questionContentRL::-webkit-scrollbar-track,
.answerContentRL::-webkit-scrollbar-track,
.questionAnswerContentUD::-webkit-scrollbar-track {
    background-color: transparent;
}

.choiceElements {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    gap: 10px;
    border-radius: 5px;
    align-items: start;
    margin-bottom: 10px;
}

.choiceNumberSelected {
    font-weight: 400;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    background-color: rgb(0, 100, 250);
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
}

.choiceNumberNotSelected {
    font-weight: 400;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    background-color: rgb(220, 220, 220);
    color: rgb(100, 100, 100);
    text-align: center;
    cursor: pointer;
}

.choiceValueSelected {
    font-size: 1.2rem;
    height: fit-content;
    line-height: 30px;
    border-radius: 10px;
    color: rgb(0, 100, 250);
    cursor: pointer;
}

.choiceValueNotSelected {
    font-size: 1.2rem;
    height: fit-content;
    line-height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.answerTextBox {
    width: 100%;
    height: 100px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    padding: 15px;
    background-color: rgb(255, 255, 255);
    resize: none;
}

.answerTextBox::placeholder {
    font-weight: 300;
    color: rgb(150, 150, 150);
}

.answerTextLength {
    font-weight: 500;
    text-align: right;
    margin-top: 5px;
}

.testModeContainerBottom {
    width: 100vw;
    height: 60px;
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%) 1fr fit-content(100%) fit-content(100%);
    gap: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 1px solid rgb(220, 220, 220);
    background-color: rgb(245, 245, 245);
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.testModeContainerBottomIcon {
    width: 40px;
    height: 40px;
    padding: 8px;
}

.submittedTime {
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    text-align: right;
    color: rgb(180, 180, 180);
}

.settingsButton {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.notificationButtonNormal {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.notificationButtonPulse {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(250, 50, 50);
	box-shadow: 0 0 0 0 rgba(250, 50, 50, 1);
	animation: pulse 3s infinite;
    cursor: pointer;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(250, 50, 50, 0.7);
	}
	
	70% {
		box-shadow: 0 0 0 10px rgba(250, 50, 50, 0);
	}

    100% {
        box-shadow: 0 0 0 10px rgba(250, 50, 50, 0);
    }
}

.submitButton,
.exitButton {
    width: 120px;
    height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    display: grid;
    align-items: center;
    justify-content: center;
}

.backgroundContainer {
    width: 500px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
    word-break: keep-all;
}

.backgroundContainerHeader {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.backgroundContainerHeaderWithCloseButton {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr fit-content(100%); 
}

.exitContainerTop {
    margin-bottom: 20px;
}

.exitContainerNoticePass {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 25px;
    border-radius: 5px;
    color: rgb(100, 220, 100);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    gap: 5px;
}

.exitContainerNoticeAlert {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 25px;
    border-radius: 5px;
    color: rgb(250, 50, 50);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    gap: 5px;
}

.exitContainerNoticeChecked {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 25px;
    border-radius: 5px;
    color: rgb(250, 150, 50);
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    gap: 5px;
}

.exitContainerNoticeIcon {
    height: 25px;
    padding: 2px;
}

.exitContainerQuestionStatus {
    height: 30vh;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    overflow: auto;
}

.exitContainerQuestionStatus::-webkit-scrollbar {
    width: 20px;
}

.exitContainerQuestionStatus::-webkit-scrollbar-thumb {
    width: 20px;
    background-color: rgb(220, 220, 220);
    background-clip: padding-box;
    border-right: 10px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.exitContainerQuestionStatus::-webkit-scrollbar-track {
    background-color: transparent;
}

.questionStatusElements {
    height: 30px;
    line-height: 30px;
    gap: 10px;
    margin-bottom: 10px;
}

.questionStatusElementsNumber {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.questionStatusElementsSolved {
    font-size: 1rem;
    line-height: 30px;
    border-radius: 5px;
    padding: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
    color: rgb(0, 150, 0);
    background-color: rgb(150, 250, 150);
    display: grid;
    grid-template-columns: fit-content(100%) 1fr fit-content(100%);
    gap: 10px;
    cursor: pointer;
}

.questionStatusElementsSolved:hover {
    background-color: rgba(150, 250, 150, 0.7);
}

.questionStatusElementsNotSolved {
    font-size: 1rem;
    line-height: 30px;
    border-radius: 5px;
    padding: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
    color: rgb(250, 50, 50);
    background-color: rgb(250, 180, 180);
    display: grid;
    grid-template-columns: fit-content(100%) 1fr fit-content(100%);
    gap: 10px;
    cursor: pointer;
}

.questionStatusElementsNotSolved:hover {
    background-color: rgba(250, 180, 180, 0.7);
}

.exitContainerCheckedQuestions {
    width: 440px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    overflow: auto;
}

.checkedQuestionElements {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 150, 50);
    text-align: center;
    cursor: pointer;
}

.checkedQuestionElements:hover {
    background-color: rgba(250, 150, 50, 0.7);
}

.exitContainerCheckedQuestions::-webkit-scrollbar {
    width: 20px;
}

.exitContainerCheckedQuestions::-webkit-scrollbar-thumb {
    width: 20px;
    background-color: rgb(220, 220, 220);
    background-clip: padding-box;
    border-bottom: 10px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.exitContainerCheckedQuestions::-webkit-scrollbar-track {
    background-color: transparent;
}

.exitContainerBottom {
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    gap: 10px;
    justify-content: right;
}

.exitContainerExitButton {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 50, 50);
    cursor: pointer;
}

.exitContainerCancelButton {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.closeIcon {
    height: 30px;
    padding: 5px;
    filter: invert(0.6);
    cursor: pointer;
}

.settingsElementsHeader {
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    color: rgb(150, 150, 150);
}

.settingsElementsButtonClicked {
    height: 50px;
    line-height: 48px;
    border-radius: 5px;
    border: 1px solid rgb(0, 100, 250);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    margin-bottom: 10px;
}

.settingsElementsButtonNotClicked {
    height: 50px;
    line-height: 48px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220,220);
    color: rgb(100, 100, 100);
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2, fit-content(100%));
    margin-bottom: 10px;
    cursor: pointer;
}

.settingsIcon {
    height: 48px;
    padding: 12px;
    filter: invert(0.5);
}

.sampleAlertContainer {
    width: 500px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-rows: repeat(3, fit-content(100%));
    gap: 10px;
    text-align: justify;
    word-break: keep-all;
}

.sampleAlertContainerHeader {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.sampleAlertGuide {
    font-family: 500;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    padding: 20px;
    padding-left: 40px;
}

.confirmButton {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 250);
    cursor: pointer;
}



@media (max-width: 1200px) {
    .testModeContainerCenter {
        width: 100vw;
        height: calc(100vh - 140px);
        left: 0px;
        overflow: auto;
    }

    .navigation {
        display: none;
    }

    .questionAnswerHeader {
        width: 100vw;
        padding: 30px;
        padding-left: min(5vw, 30px);
        padding-right: min(5vw, 30px);
        padding-top: 10px;
        padding-bottom: 10px;
        left: 0px;
    }

    .checkQuestionButtonChecked,
    .checkQuestionButtonNotChecked {
        display: none;
    }

    .questionAnswerContentRL {
        width: 100vw;
        display: block;
        grid-template-columns: none;
        border-right: none;
        left: 0px;
        overflow: auto;
    }

    .questionAnswerContentRL::-webkit-scrollbar {
        width: 15px;
    }

    .questionAnswerContentRL::-webkit-scrollbar-thumb {
        width: 15px;
        background-color: rgb(150, 150, 150, 0.3);
    }

    .questionAnswerContentRL::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .questionAnswerContentUD{
        width: 100vw;
        display: block;
        grid-template-rows: none;
        border-right: none;
        left: 0px;
        overflow: auto;
    }

    .questionContentRL,
    .questionContentUD {
        height: fit-content;
        border-right: 0px;
        padding-left: min(5vw, 30px);
        padding-right: min(5vw, 30px);
        padding-bottom: 0px;
    }

    .answerContentRL,
    .answerContentUD {
        height: fit-content;
        border-right: 0px;
        padding-left: min(5vw, 30px);
        padding-right: min(5vw, 30px);
        padding-top: 0px;
    }

    .submittedTime {
        font-size: 0.9rem;
        height: 20px;
        line-height: 20px;
        margin-right: 5px;
    }
}



@media (max-width: 600px) {
    .testModeContainerTop {
        padding-left: min(5vw, 30px);
        padding-right: min(5vw, 30px);
    }

    .testconLogo {
        margin-right: 0px;
    }

    .testModeCotainerTopInfo {
        grid-template-columns: none;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .testName {
        font-size: 0.85rem;
        height: 16px;
        line-height: 16px;
        margin-top: 4px;
        margin-bottom: 0px;
    }

    .applicantName {
        font-size: 0.85rem;
        height: 16px;
        line-height: 16px;
        margin-top: 0px;
        margin-bottom: 4px;
        margin-left: 0px;
        padding-left: 0px;
        border-left: none;
    }

    .timer {
        padding-left: 10px;
        padding-right: 10px;
        grid-template-columns: 20px fit-content(100%);
    }

    .timerHeader {
        display: none;
    }

    .timerValue {
        font-size: 1rem;
    }

    .questionAnswerHeader {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .questionNumber {
        font-size: 1.5rem;
    }

    .questionType {
        font-size: 1rem;
    }

    .questionPoints {
        font-size: 1rem;
    }

    .prevNextButtonOn {
        font-size: 0.8rem;
        width: 40px;
    }

    .prevNextButtonOff {
        font-size: 0.8rem;
        width: 40px;
    }

    .prevNextButtonImage {
        width: 40px;
        height: 40px;
        padding: 10px;
        filter: invert();
    }

    .questionContent {
        padding-left: min(5vw, 30px);
        padding-right: min(5vw, 30px);
    }

    .testModeContainerBottom {
        gap: 5px;
        padding-left: min(5vw, 30px);
        padding-right: min(5vw, 30px);
    }

    .submittedTime {
        font-size: 0;
    }

    .submitButton,
    .exitButton {
        width: 70px;
        height: 40px;
        font-size: 0.9rem;
    }

    .backgroundContainer {
        width: 90vw;

    }

    .backgroundHeader {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .exitContainerExitButton {
        width: 120px;
    }

    .exitContainerCancelButton {
        width: 120px;
    }

    .exitContainerExitButton,
    .exitContainerCancelButton {
        width: 80px;
        height: 40px;
        font-size: 0.85rem;
    }

    .exitContainerTop {
        font-size: 0.85rem;
    }

    .exitContainerCenter {
        padding: 15px;
    }

    .exitQuestionContainerNumber {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .exitQuestionContainerSolved {
        font-size: 0.8rem;
        line-height: 25px;
        border-radius: 5px;
        padding: 5px;
        padding-right: 10px;
        margin-bottom: 5px;
        gap: 5px;
    }

    .exitQuestionContainerNotSolved {
        font-size: 0.8rem;
        line-height: 25px;
        border-radius: 5px;
        padding: 5px;
        padding-right: 10px;
        margin-bottom: 5px;
        gap: 5px;
    }

    .exitQuestionContainerGoTo {
        font-size: 0.7rem;
        font-weight: 400;
        height: 25px;
        line-height: 25px;
    }
}